@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-color: #2b2b2b;
   margin: 0;
   font-family: 'Work Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: white;
   font-size: 16px;
}

body a {
   color: white;
}

body a:visited {
   color: white;
}

.inp {
   padding: 1.25rem;
   // height: 60px;
   color: white;
   border-radius: 1.25rem;
}

button {
   padding: 1.25rem 3.25rem;
   // height: 60px;
   border-radius: 1.25rem;
   background-color: #a259ff;
}

.space-mono-font {
   font-family: 'Space Mono', monospace;
}

h3 {
   font-size: 1.375rem;
   font-family: 'Space Mono', monospace;
   padding: 1rem 0;
}

p {
   padding: 0.5rem 0;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
